body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	font-family: 'DMSans', sans-serif;
	letter-spacing: -0.5px;
}

.main {
	height: 100%;
}

@import url(../css/reset.css);
@import url(../css/fonts.css);


.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/*! header styly start */

.header {
	background-color: #171718;
	border-bottom: 1px solid #26292D;
	letter-spacing: normal;
}

.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.header__logo {
	padding-right: 15px;
}

.logo__link {
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}

.logo__link span {
	font-weight: 700;
	color: #5C62EC;
}

.header__list {
	display: flex;
}

.header__item {
	padding-right: 40px;
}

.header__item:last-child {
	padding-right: 0;
}

.header__link {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #fff;
	text-decoration: none;
}

.header__link:hover,
.header__link:focus {
	opacity: .75;
}

.header__link:active {
	position: relative;
	top: 1px;
}

.header__link-active {
	position: relative;
}

.header__link-active::before {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 2px;
	background-color: #5C62EC;
}

/*! header styly end */

.details__title {
	font-size: 60px;
	font-weight: 700;
	line-height: 130%;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: center;
	color: #5C62EC;
}



/*! footer style start */

.footer {
	background-color: #171718;
	padding: 60px 0 50px;
	color: #fff;
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social {
	display: flex;
	align-items: center;
	column-gap: 30px;
	padding-bottom: 30px;
}

.copyright {
	font-size: 16px;
}

/*! footer style end */